alert http $HOME_NET any -> $HOME_NET any (msg: "ATTACK [PTsecurity] Mismatch URI and Host header. Possible Squid cache poisoning"; content: "GET"; http_method; content: "://"; fast_pattern; distance: 0; http_raw_uri; pcre: "/^\w+\s+\w+:\/\/\S+\s+.*?[\r\n].*?Host:[ \t]+[\w\.:]+\b/is"; pcre:! "/^\w+\s+\w+:\/\/([^\/\s:#]+)[\/\s:#]\S*.+?Host:[ \t]*\1\S*\b/is"; reference: url, bugs.squid-cache.org/show_bug.cgi?id=4501; reference: cve, 2016-4554; classtype: attempted-recon; reference: url, github.com/ptresearch/AttackDetection; sid: 10000035; rev: 4; )

